{% extends "base.html" %}

{% block title %}Título de la Página{% endblock %}

{% block content %}

<form action="{{ url_for('crearTarea' ) }}" method="post">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.titulo.label }}
        {{ form.titulo (class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.descripcion.label }}
        {{ form.descripcion (class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.fecha_termino.label }}
        {{ form.fecha_termino (class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.enviarBtn (class="btn btn-primary mt-2") }}
    </div>
</form>

{% if 'exitoMsg' in session %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script>
    Toastify({
        text: "{{ session.pop('exitoMsg') }}"
    }).showToast();
</script>
{% endif %}

{% endblock %}