{% extends "base.html" %}

{% block title %}{{ tarea.titulo }}{% endblock %}

{% block content %}
<h1 class="mt-5">{{ tarea.titulo }}</h1>

<div class="card mt-4">
    <div class="card-body">
        <h5 class="card-title">{{ tarea.titulo }}</h5>
        <p class="card-text">{{ tarea.descripcion }}</p>
        <a href="{{ url_for('editarEstado', id=tarea.id ) }}" class="btn btn-success">Marcar como completada</a>
    </div>
</div>

<!-- Botón para regresar a la lista de tareas -->
<a href="{{ url_for('verTareas' ) }}" class="btn btn-primary mt-3">Volver a la Lista de Tareas</a>
{% endblock %}