{% extends "base.html" %}

{% block title %}{{ tarea.titulo }}{% endblock %}

{% block content %}
<h1 class="mt-5">{{ tarea.titulo }}</h1>

<div class="card mt-4 {% if tarea.estado %}bg-secondary{% endif %}">
    <div class="card-body">
        <h5 class="card-title">{{ tarea.titulo }}</h5>
        <p class="card-text">{{ tarea.descripcion }}</p>
        {% if tarea.estado %}
            <a href="{{ url_for('editarEstado', id=tarea.id ) }}" class="btn btn-warning">Marcar como incompletada</a>
        {% else %}
            <a href="{{ url_for('editarEstado', id=tarea.id ) }}" class="btn btn-success">Marcar como completada</a>
        {% endif %}
        <a href="{{ url_for('eliminarTarea', id=tarea.id ) }}" class="btn btn-danger">Eliminar</a>
    </div>
</div>

<!-- Botón para regresar a la lista de tareas -->
<a href="{{ url_for('verTareas' ) }}" class="btn btn-primary mt-3">Volver a la Lista de Tareas</a>
{% endblock %}