{% extends "base.html" %}

{% block title %}Listado de tareas{% endblock %}

{% block content %}
<h1 class="mt-5">Listado de tareas</h1>
<div class="d-flex">
    <div class="row justify-content-center">
        <div class="col">
            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dwFechas" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Ordenar por fecha de término
                </a>
    
                <div class="dropdown-menu" aria-labelledby="dwFechas">
                    <a href="{{ url_for('verTareas', estado=estado, orden='asc') }}" class="dropdown-item">Ordenar de manera ascendente</a>
                    <a href="{{ url_for('verTareas', estado=estado, orden='desc') }}" class="dropdown-item">Ordenar de manera
                        descendente</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dwOpciones" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Filtros
                </a>
    
                <div class="dropdown-menu" aria-labelledby="dwOpciones">
                    <span class="dropdown-item-text">Por estado</span>
                    <a href="{{ url_for('verTareas', orden=orden) }}" class="dropdown-item">Mostrar todas</a>
                    <a href="{{ url_for('verTareas', orden=orden, estado='completadas') }}" class="dropdown-item">Mostrar completadas</a>
                    <a href="{{ url_for('verTareas', orden=orden, estado='pendientes') }}" class="dropdown-item">Mostrar pendientes</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    {% for tarea in tareas %}
    <div class="col-md-4">
        <a href="{{ url_for('verTareas', id=tarea.id) }}" class="card-link" style="text-decoration: none;">
            <div class="card mt-4 {% if tarea.estado %}bg-secondary{% endif %}">
                <div class="card-body">
                    <h5 class="card-title" {% if tarea.estado %}style="text-decoration: line-through;" {% endif %}>{{
                        tarea.titulo }}</h5>
                    {% if not tarea.estado %}
                    {% if calcDiasRestantes(tarea.fecha_termino) > 0 %}
                    <p class="text-success">La tarea caduca en {{ calcDiasRestantes(tarea.fecha_termino) }} días</p>
                    {% elif calcDiasRestantes(tarea.fecha_termino) == 0 %}
                    <p class="text-warning">La tarea caduca hoy</p>
                    {% else %}
                    <p class="text-danger">La tarea caducó hace {{ calcDiasRestantes(tarea.fecha_termino) }} días</p>
                    {% endif %}
                    {% endif %}
                    <p class="card-text">{{ tarea.descripcion }}</p>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}